
@{
    ViewData["Title"] = "About";
}

@{ 
    DateTime raamChallengeDate = new DateTime(2020, 3, 28);
    DateTime almanzoDate = new DateTime(2020, 5, 2);
    DateTime transAmDate = new DateTime(2020, 6, 6);
    DateTime mn650Date = new DateTime(2020, 6, 19);
    DateTime steensDate = new DateTime(2020, 7, 5);
    DateTime damnDate = new DateTime(2020, 8, 3);
    DateTime hoodooDate = new DateTime(2020, 8, 23);
    DateTime incaDivideDate = new DateTime(2020, 8, 14);
    DateTime silverStateDate = new DateTime(2020, 9, 11);

    var raamCountdown = Math.Abs(Math.Floor((DateTime.Today - raamChallengeDate).TotalDays / 7));
    var almanzoCountdown = Math.Abs(Math.Floor((DateTime.Today - almanzoDate).TotalDays / 7));
    var transAmCountdown = Math.Abs(Math.Floor((DateTime.Today - transAmDate).TotalDays / 7));
    var mn650Countdown = Math.Abs(Math.Floor((DateTime.Today - mn650Date).TotalDays / 7));
    var steensCountdown = Math.Abs(Math.Floor((DateTime.Today - steensDate).TotalDays / 7));
    var damnCountdown = Math.Abs(Math.Floor((DateTime.Today - damnDate).TotalDays / 7));
    var hoodooCountdown = Math.Abs(Math.Floor((DateTime.Today - hoodooDate).TotalDays / 7));
    var incaCountdown = Math.Abs(Math.Floor((DateTime.Today - incaDivideDate).TotalDays / 7));
    var silverStateCountdown = Math.Abs(Math.Floor((DateTime.Today - silverStateDate).TotalDays / 7));
}

<h2>About Me</h2>

<p>I live and bike in the southwest suburbs on Minneapolis</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <p>My dream biking goals are:</p>
            <ul>
                <li><a href="http://www.raamchallenge.com/">TX RAAM Challenge</a> - 200 Miles - March 28, 2020</li>
                <li><a href="https://www.almanzo.com/">Almanzo Bike Ride</a> - 100 Miles - May 2, 2020</li>
                <li><a href="https://transambikerace.com/">TransAm Bike Race</a> - 4300 Miles - June 6, 2020</li>
                <li><a href="https://www.facebook.com/events/227053444848919/">650 B Race</a> - 650 Miles - June 19, 2020</li>
                <li><a href="http://www.steensmazama1000.com/">Steens Mazema Bike Race</a> - 1000 Miles - July 5, 2020</li>
                <li><a href="https://the-damn.com/">DaMN Ride</a> - 240 Miles - August 3, 2020</li>
                <li><a href="https://hoodoo500.com/">HooDoo 500</a> - 300 or 500 Miles - August 23, 2020</li>
                <li><a href="https://bikingman.com/en/incadivide-2019-en/">Inca Divide</a> - 1100 Miles - August 14, 2020</li>
                <li><a href="https://www.the508.net">Silver State 508</a> - 508 Miles - September 11, 2020</li>
                <li><a href="https://www.heckofthenorth.com/heck-about">Heck of the North</a> - 100 Miles - September 26, 2020</li>
            </ul>
            <p>Some dates are approximate as they haven't been selected yet</p>
        </div>
        <div class="col-lg-6">
            <p>I also want to up my mountain biking game in 2020, some goals are:</p>
            <ul>
                <li>Complete Lebanon Loop</li>
                <li>Complete Murphy-Hanrehan Loop</li>
                <li>Complete Elm Creek Loop</li>
                <li>Learn how to jump</li>
                <li>Complete a drop</li>
                <li>Bike at Spirit Mountain / Duluth area</li>
                <li>Bike at Cuyuna</li>
                <li>Possible Trestle/Whistler Trip?</li>
            </ul>
            <p>Nothing too fancy, just want to do more mountain biking</p>
        </div>
    </div>
</div>
<partial name="BreakArea" />
<h4>Weeks until each race</h4>
<ul>
    <li>RAAM Challenge: @raamCountdown</li>
    <li>Almanzo 100: @almanzoCountdown</li>
    <li>MN 650: @mn650Countdown</li>
    <li>DaMN Ride: @damnCountdown</li>
    <li>HooDoo 500: @hoodooCountdown</li>
    <li>Inca Divide: @incaCountdown</li>
    <li>Silver State 508: @silverStateCountdown</li>
</ul>