
@{
    ViewData["Title"] = "Training";
}

@{
    DateTime raamChallengeDate = new DateTime(2020, 3, 28);
    DateTime almanzoDate = new DateTime(2020, 5, 2);
    DateTime mn650Date = new DateTime(2020, 6, 19);
    DateTime damnDate = new DateTime(2020, 8, 3);
    DateTime hoodooDate = new DateTime(2020, 8, 23);
    DateTime incaDivideDate = new DateTime(2020, 8, 14);
    DateTime silverStateDate = new DateTime(2020, 9, 11);

    var raamCountdown = Math.Abs(Math.Floor((DateTime.Today - raamChallengeDate).TotalDays / 7));
    var almanzoCountdown = Math.Abs(Math.Floor((DateTime.Today - almanzoDate).TotalDays / 7));
    var mn650Countdown = Math.Abs(Math.Floor((DateTime.Today - mn650Date).TotalDays / 7));
    var damnCountdown = Math.Abs(Math.Floor((DateTime.Today - damnDate).TotalDays / 7));
    var hoodooCountdown = Math.Abs(Math.Floor((DateTime.Today - hoodooDate).TotalDays / 7));
    var incaCountdown = Math.Abs(Math.Floor((DateTime.Today - incaDivideDate).TotalDays / 7));
    var silverStateCountdown = Math.Abs(Math.Floor((DateTime.Today - silverStateDate).TotalDays / 7));
}

@{
    var fifteenPlan = 15;
    var eightPlan = 8;
    var twelvePlan = 12;

    string[] weekList = new string[]
{
     "Week", "Long Ride", "Tempo Ride", "Interval Ride", "Recovery Ride", "Optional Recovery Ride", "Core Workout", "Stretching", "Strength Workout"
};

    string[,] fifteenWeekPlan = new string[,] {
{ "1", "1:30 - 2:30", "40 - 60 minutes", "30 - 40 minutes(10 - 15 mixed)", "20 - 30 minutes", "20 - 30 minutes(optional)", "2 of 10 - 20 minutes", "3 of 10 - 20 minutes", "1 - 2 of 20 - 30 minutes(optional)" },
{ "2", "2:00 - 3:00", "40-60 minutes", "30-40 minutes (10-15 mixed)", "20-30 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "3", "2:00 - 3:00", "50-75 minutes", "40-60 minutes (10-15 mixed)", "30-40 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "4", "2:30 - 3:30", "50-75 minutes", "40-60 minutes (15-20 mixed)", "30-40 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "5", "3:00 - 4:00", "60-90 minutes", "40-60 minutes (15-20 mixed)", "30-40 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "6", "3:30 - 4:30", "60 - 90 minutes", "40 - 60 minutes(15 - 20 mixed)", "40 - 60 minutes", "20 - 30 minutes(optional)", "2 of 10 - 20 minutes", "3 of 10 - 20 minutes", "1 - 2 of 20 - 30 minutes(optional)" },
{ "7", "3:30 - 4:30", "60 - 90 minutes", "60 - 90 minutes(20 - 30 mixed)", "40 - 60 minutes", "20 - 30 minutes(optional)", "2 of 10 - 20 minutes", "3 of 10 - 20 minutes", "1 - 2 of 20 - 30 minutes(optional)" },
{ "8", "1:00 - 2:00", "30 - 40 minutes", "None", "20 - 30 minutes", "20 - 30 minutes", "2 of 10 - 20 minutes", "3 of 10 - 20 minutes", "None" },
{ "9", "2:30 - 3:30", "50-75 minutes", "40-60 minutes (10-15 mixed)", "30-40 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "10", "3:00 - 4:00", "60-90 minutes", "40-60 minutes (10-15 mixed)", "40-60 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "11", "3:30 - 4:30", "60-90 minutes", "60-90 minutes (15-20 mixed)", "40-60 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "12", "4:00 - 5:00", "60-90 minutes", "60-90 minutes (15-20 mixed)", "40-60 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "13", "4:30 - 5:30", "60-90 minutes", "60-90 minutes (20-30 mixed)", "40-60 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "14", "5:15 - 6:30", "60-90 minutes", "60-90 minutes (20-30 mixed)", "40-60 minutes", "20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "1-2 of 20-30 minutes (optional)" },
{ "15", "2:30 - 3:30", "60-90 minutes", "60-90 minutes (15-20 mixed)", "40-60 minutes","20-30 minutes (optional)", "2 of 10-20 minutes", "3 of 10-20 minutes", "None" },
{ "16", "Century", "30-40 minutes", "None","20-30 minutes", "20-30 minutes", "2 of 10-20 minutes", "3 of 10-20 minutes", "None" } };

    string[,] eightWeekPlan = new string[,]
    {
{ "1","2:00 - 3:00","60-75 minutes","40-60 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)" },
{ "2","60-90 minutes brisk (20-30 mixed)","60-75 minutes","45-60 minutes (15-20 mixed)","30-40 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)" },
{ "3","3:00 - 4:00","60-90 minutes","40-60 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "4","30-45 minutes brisk (10-15 mixed)","30-45 minutes","30-45 min tempo","20-30 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","None"},
{ "5","4:00 - 5:00","60-90 minutes","60-90 minutes (15-20 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "6","60-90 minutes brisk (20-30 mixed)","60-90 minutes","60-90 minutes (15-20 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)" },
{ "7","5:15 - 6:30","60-90 minutes","60-90 minutes (20-30 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "8","2:30 - 3:30","60-90 minutes","60-90 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","None"},
{ "Century Week","Century","None","30-40 minutes (10-15 mixed)","20-30 minutes","20-30 minutes","2 of 10-20 minutes","3 of 10-20 minutes","None"}
    };

    string[,] twelveWeekPlan = new string[,]
    {
{ "1","6:30 - 7:15","40-60 minutes","30-45 minute tempo","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "2","3:30 - 4:30","60-90 minutes","40-60 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "3","7:15 - 8:00","60-90 minutes","45-60 minute tempo","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "4","2:00 - 3:00","30-40 minutes","40-60 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","None"},
{ "5","8:00 - 9:00","60-90 minutes","40-60 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "6","3:30 - 4:30","1:30 - 1:45","60-75 minutes (15-20 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "7","8:45 - 10:00","1:15 - 1:45","40-60 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "8","2:00 - 3:00","40-60 minutes","40-60 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","None"},
{ "9","9:45 - 11:00","1:15 - 1:45","40-60 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "10","3:30 - 4:30","60-90 minutes","60-75 minutes (15-20 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "11","10:45 - 12:00","60-90 minutes","40-60 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","1 of 20-30 minutes (optional)"},
{ "12","4:00 - 6:30","60-75 minutes","60-75 minutes (10-15 mixed)","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","None"},
{ "Event Week","Event","40-60 minutes","None","40-60 minutes","20-30 minutes (optional)","2 of 10-20 minutes","3 of 10-20 minutes","None"}
    };

}

@{ 
    var threePlan = "Use the Fifteen Week Plan, follow it with the Eight Week Plan, and then end with the Twelve Week Plan";
    var twoPlan = "Use the Fifteen Week Plan and follow it with the Eight Week Plan";
    var onePlan = "Use the Fifteen Week Plan";

    string getPlan(double plan)
    {
        if(plan > 35)
        {
            plan -= 27;
            var numberEights = Math.Floor(plan / 8);
            return "Start with the Fifteen Week Plan, then use the Eight week plan " + numberEights + " times, and end with the Twelve Week Plan";

        }
        else if (plan > fifteenPlan)
        {
            if (plan > fifteenPlan + eightPlan + twelvePlan)
            {
                return @threePlan;
            }
            else if (plan > fifteenPlan + eightPlan)
            {
                return twoPlan;
            }
            else
            {
                return onePlan;
            }
        }
        else
        {
            return "You do not have enough time to train for this event";
        }
    }

    string getPlanVerbiage(double plan) {
        return "You have " + plan + " weeks to train. " + getPlan(plan);
    }
}

<h2>Basic Training Guide - Use only for a basis of training</h2>
<p><strong>Distances over 200 miles require a personalized training plan</strong></p>
<p>RAAM Plan: @getPlanVerbiage(raamCountdown)</p>
<p>Almanzo Plan: @getPlanVerbiage(almanzoCountdown)</p>
<p>MN 650 Plan: @getPlanVerbiage(mn650Countdown)</p>
<p>DaMN Plan: @getPlanVerbiage(damnCountdown)</p>
<p>HooDoo 500 Plan: @getPlanVerbiage(hoodooCountdown)</p>
<p>Inca Divide Plan: @getPlanVerbiage(incaCountdown)</p>
<p>Silver State 508 Plan: @getPlanVerbiage(silverStateCountdown)</p>

<br />

<h2>15 Week Century Plan</h2>
<table class="table">
    <tr>
        @foreach (string s in weekList)
        {
            <th>@s</th>
        }
    </tr>
    @for (int row = 0; row < fifteenWeekPlan.GetLength(0); row++)
    {
        <tr>
            @for (int col = 0; col < fifteenWeekPlan.GetLength(1); col++)
            {
                <td>@fifteenWeekPlan[row, col]</td>
            }
        </tr>
    }
</table>
<br />
<br />

<h2>8 Week Century Improvement Plan</h2>
<table class="table">
    <tr>
        @foreach (string s in weekList)
        {
            <th>@s</th>
        }
    </tr>
    @for (int row = 0; row < eightWeekPlan.GetLength(0); row++)
    {
        <tr>
            @for (int col = 0; col < eightWeekPlan.GetLength(1); col++)
            {
                <td>@eightWeekPlan[row, col]</td>
            }
        </tr>
    }
</table>
<br />
<br />

<h2>12 Week Double Century Plan</h2>
<table class="table">
    <tr>
        @foreach (string s in weekList)
        {
            <th>@s</th>
        }
    </tr>
    @for (int row = 0; row < twelveWeekPlan.GetLength(0); row++)
    {
        <tr>
            @for (int col = 0; col < twelveWeekPlan.GetLength(1); col++)
            {
                <td>@twelveWeekPlan[row, col]</td>
            }
        </tr>
    }
</table>
